language: java
jdk:
- openjdk14
services:
- postgresql
before_install:
- psql -c 'create database forum;' -U postgres
sudo: false
install: true
script: mvn clean package -DskipTests=true
after_success:
- bash <(curl -s https://codecov.io/bash) -t 4175088d-e699-46be-9479-7a13266b305f
notifications:
  email:
    recipients: "-vohmin77@gmail.com"
    on_success: never
    on_failure: always
env:
  global:
  - CODECOV_TOKEN="4175088d-e699-46be-9479-7a13266b305f"
deploy:
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: CqzdDefXYqk56kuhDwQhJ5XKfepgOJIWR5BJZg6UBkL7iAo538aMfXFwfAnP/4ulzKImDzSxlzqsJZZAIDN+CVwOZ7WSunblHN5Yw0Wn8X6NwWz9PJfVdXvZs27WGdQdxA+igiJPAXPLC0s2nUCJIGqTNPSxYI780IqNM+wczKyco8v+ZSBDJ2iAkw/MunEJP1If2hC0f7GSqrb127Ad8m9VxJHxkXmatvzNntDxTtnmQ5yPL+KoO5s2Awtxt2EPflTlZNrnl+WA9mMFETmajewqS+owXC0+WKycoAh5H5mmDLcjdNbJpHBsLa8S0rJBE8SlaJBeAesJ4K6kL6B9NvyOSUMKb1xrbJh4D7lwmF9MmsZs+1fhvx322vW0BEvQ84SUsmuCY1vLBV8Kgw54usu8IXDp2YXMip5FbFxvaQF3ziWAt1jT9ip0nwxTcmxmvrqMg4ACeIc8AOqRXPfxRtOJ4UGBcsA//erriFiX42fecNvVmu0+tc7yRBt0MBu6PKQ3VF34fCNH4JUo4lYN9HrYM1V7MA9whQZqwWWfzut8EIQnxF0D+ZFI5hrQeOaU2DKWWyfUdencThFnWBnFnVcjCqy6HVjt6gI5qOA7CxviFbrjkEze1SIoZD7hZlcaabOmzoTTw5W73++m88v8mWpxY7UJZmVcy5QvuHBJtp4=
  app: guarded-journey-01174
