# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
  - openjdk13
services:
  - postgresql
before_install:
  - psql -c 'create database forum;' -U postgres
install: true
script: mvn clean package -DskipTests=true
sudo: false

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонний сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash) -t 4175088d-e699-46be-9479-7a13266b305f

# Отправлять уведомление на почту youremail@smtp.ru(Изменить на свою) если сборка упала
notifications:
  email:
    recipients:
      vohmin77@gmail.com
    on_success: never # default: change
    on_failure: always # default: always

env:
  global:
    - CODECOV_TOKEN="4175088d-e699-46be-9479-7a13266b305f"
